@**
* Display the addresses of a distinct {@link Organization}.
*
* @param o The {@link Organization} the homepages are to be displayed for.
* @param hps A list of {@link Address}es to be displayed.
* @author andreas
* @version 0.0.2, 2015-01-02 
*@
@(o: Organization, addresses: List[Address])(implicit lang: Lang, ctx: util.Ctx)

    <table class="table table-hover">
      <tbody>
    @for(a <- addresses) {
      <tr>
        <td>
          <address>
          @if(a.addon.isDefined) {
            @a.addon.get<br/>
          }
          @if(a.street.isDefined) {
            @a.street.get<br/>
          }
          @if(a.postbox.isDefined) {
            @a.postbox.get<br/>
          }
          @if(a.country.vrc.get == "D" || a.country.vrc.get == "A" || a.country.vrc.get == "CH") {
            <strong>@a.zip @a.city</strong><br/>
          } else {
            <strong>@a.city</strong><br/>
            @a.zip<br/>
          }
            @a.country.nameDe
          </address>
        </td>
        <td>@if(ctx.user.isDefined) {
		  <a href="/o/@o.id.get/address/edit/@a.id.get" title="@Messages("address.edit")"><i class="glyphicon glyphicon-pencil"></i></a>
		  <a href="/o/@o.id.get/address/delete/@a.id.get" title="@Messages("address.delete")"><i class="glyphicon glyphicon-trash"></i></a>
		}
		@lastModificationIcon(a) 
		</td>
      </tr>
	}
	  </tbody>
	</table>