@(form: Form[_])(implicit ctx: util.Ctx)
      @if(!form("created").value.isDefined) {
        @inputHidden(form("created"), '_value -> System.currentTimeMillis())
        @inputHidden(form("creator"), '_value -> ctx.user.get.username)
        @inputHidden(form("modified"))
        @inputHidden(form("modifier"))
      } else {
	    @inputHidden(form("created"))
        @inputHidden(form("creator"))
        @inputHidden(form("modified"), '_value -> System.currentTimeMillis())
        @inputHidden(form("modifier"), '_value -> ctx.user.get.username)
      }