@(form: Form[_], prefix: String = "")(implicit ctx: util.Ctx)
      @if(!form("created").value.isDefined) {
        @inputHidden(form(prefix +"created"), '_value -> System.currentTimeMillis())
        @inputHidden(form(prefix +"creator"), '_value -> ctx.user.get.username)
        @inputHidden(form(prefix +"modified"))
        @inputHidden(form(prefix +"modifier"))
      } else {
	    @inputHidden(form(prefix +"created"))
        @inputHidden(form(prefix +"creator"))
        @inputHidden(form(prefix +"modified"), '_value -> System.currentTimeMillis())
        @inputHidden(form(prefix +"modifier"), '_value -> ctx.user.get.username)
      }