@**
* Display the email addresses of a distinct {@link Organization}.
*
* @param o The {@link Organization} the email addresses are to be displayed for.
* @param emails A list of email addresses to be displayed.
* @author andreas
* @version 0.0.2, 2015-01-02 
*@
@(o: Organization, emails: List[(Email, OrgHasEmail)])(implicit lang: Lang, ctx: util.Ctx)
    <table class="table table-hover">
	  <tbody>
	  @for(em <- emails) {
		<tr>
		  <td><a href="mailto:@em._1.address">@em._1.address</a></td>
		  <td>
		  @if(ctx.user.isDefined) {
		    <a href="/o/@o.id.get/email/edit/@em._1.id.get" title="@Messages("email.edit")"><i class="glyphicon glyphicon-pencil"></i></a>
		    <a href="/o/@o.id.get/email/delete/@em._1.id.get" title="@Messages("email.delete")"><i class="glyphicon glyphicon-trash"></i></a>
		  }
		  @lastModificationIcon(em._1)
	      </td>
		</tr>
	  }
	  </tbody>
	</table>