@*
* Inline table to display the {@link Email} addresses of a {@link Person}.
*
* @param p The {@link Person} to display the {@link Email} addresses for.
* @param phones A {@link List} of {@link Email} addresses and additional information.
* @author andreas
* @version 0.0.2, 2015-01-05
*@
@(p: Person, emails: List[(Email, PersonHasEmail)])(implicit lang: Lang, ctx: util.Ctx)
@import helper._

    <table class="table table-hover">
	  <tbody>
	  @for(em <- emails) {
		<tr>
		  <td><a href="mailto:@em._1.address">@em._1.address</a></td>
		  <td>@Messages("usagetype." + em._2.usage)</td>
		  <td>
		  @if(ctx.user.isDefined) {
		  	@if(ctx.userHasPrivilege(ctx.user.get, "edit.person.email")) {
		    <a href="/p/@p.id.get/email/edit/@em._1.id.get" title="@Messages("email.edit")"><i class="glyphicon glyphicon-pencil"></i></a>
		    }
		    @if(ctx.userHasPrivilege(ctx.user.get, "delete.person.email")) {
		      <a href="#" data-toggle="modal" title="@Messages("email.delete")" data-target="#delConfirm_email" onclick="delId = @em._1.id.get"><i class="glyphicon glyphicon-trash"></i></a>
		    }
		  }
		  </td>
		</tr>
	  }
	  </tbody>
	</table>
@deleteConfirmationModal("email", "/p/" + p.id.get + "/email/delete/")	