@(e: Entity, t: String, emails: List[Email])(implicit lang: Lang, ctx: util.Ctx)

    <table class="table table-striped table-hover">
	  <thead>
	    <tr>
	      <th>@Messages("email.address")</th>
	      <th>@Messages("usagetype")</th>
	      <th>@Messages("actions")</th>
	    <tr>
	  </thead>
	  <tbody>
	  @for(em <- emails) {
		<tr>
		  <td><a href="mailto:@em.address">@em.address</a></td>
		  <td>@Messages("usagetype." + em.usage)</td>
		  <td>
		  @if(ctx.user.isDefined) {
		    <a href="/@t/@e.id.get/email/edit/@em.id.get" title="@Messages("email.edit")"><i class="icon-pencil"></i></a>
		    <a href="/@t/@e.id.get/email/delete/@em.id.get" title="@Messages("email.delete")"><i class="icon-trash"></i></a>
		  </td>
		  }
		</tr>
	  }
	  @if(ctx.user.isDefined) {
	    <tr>
	      <td colspan="3"><a href="/@t/@e.id.get/email/edit" title="@Messages("email.add")"><i class="icon-plus"></i></a> ...</td>
	    </tr>
	  }
	  </tbody>
	</table>