@()(implicit lang: Lang, ctx: util.Ctx)
          <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bottom-navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
               
          		<div class="collapse navbar-collapse" id="bottom-navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="#"><i class="glyphicon glyphicon-chevron-up"></i> @Messages("top.of.page")</a></li>
                    <li><a href="/imprint">@Messages("imprint")</a></li>
                    <li><a href="/contact"><i class="glyphicon glyphicon-envelope"></i> @Messages("contact")</a></li>
                    <li><a href="/">&copy; ATV zu Berlin e.V. 2015</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>