@*
* Inline table to display the {@link Homepage}s of a {@link Person}.
*
* @param p The {@link Person} to display the {@link Homepage}s for.
* @param phones A {@link List} of {@link Homepage}s and additional information.
* @author andreas
* @version 0.0.2, 2015-01-05
*@
@(p: Person, hps: List[(Homepage, PersonHasHomepage)])(implicit lang: Lang, ctx: util.Ctx)
@import helper._

    <table class="table table-hover">
	  <tbody>
	  @for(hp <- hps) {
		<tr>
		  <td><a href="@hp._1.url" title="@Messages("link.external"): @hp._1.descr.getOrElse("")">@hp._1.url</a></td>
		  <td>@hp._1.descr.getOrElse("")</td>
		  <td>@Messages("usagetype." + hp._2.usage)</td>
		  <td>@if(ctx.user.isDefined) {
		  	@if(ctx.userHasPrivilege(ctx.user.get, "edit.person.homepage")) {
		    <a href="/p/@p.id.get/hp/edit/@hp._1.id.get" title="@Messages("homepage.edit")"><i class="glyphicon glyphicon-pencil"></i></a>
		    }
		    @if(ctx.userHasPrivilege(ctx.user.get, "delete.person.homepage")) {
		      <a href="#" data-toggle="modal" title="@Messages("homepage.delete")" data-target="#delConfirm_homepage" onclick="delId = @hp._1.id.get"><i class="glyphicon glyphicon-trash"></i></a>
		    }
		  }
		  </td>
		</tr>
	  }
	  </tbody>
	</table>
@deleteConfirmationModal("homepage", "/p/" + p.id.get + "/hp/delete/")	