@**
* Display the homepage URLs of a distinct {@link Organization}.
*
* @param o The {@link Organization} the homepages are to be displayed for.
* @param hps A list of homepage URLs to be displayed.
* @author andreas
* @version 0.0.2, 2015-01-02 
*@
@(o: Organization, hps: List[(Homepage, OrgHasHomepage)])(implicit lang: Lang, ctx: util.Ctx)
    <table class="table table-hover">
	  <tbody>
	  @for(hp <- hps) {
		<tr>
		  <td><a href="@hp._1.url" title="@Messages("link.external"): @hp._1.descr.getOrElse("")">@hp._1.url</a></td>
		  <td>@hp._1.descr.getOrElse("")</td>
		  <td>
		  @if(ctx.user.isDefined) {
		    <a href="/o/@o.id.get/hp/edit/@hp._1.id.get" title="@Messages("homepage.edit")"><i class="glyphicon glyphicon-pencil"></i></a>
		    <a href="/o/@o.id.get/hp/delete/@hp._1.id.get" title="@Messages("homepage.delete")"><i class="glyphicon glyphicon-trash"></i></a>
		  }
		  @lastModificationIcon(hp._1)
		  </td>
		</tr>
	  }
	  </tbody>
	</table>