@**
* Display the phone numbers of a distinct {@link Organization}.
*
* @param o The {@link Organization} the phone numbers are to be displayed for.
* @param emails A list of phone numbers to be displayed.
* @author andreas
* @version 0.0.2, 2015-01-02 
*@
@(o: Organization, phones: List[Phone])(implicit lang: Lang, ctx: util.Ctx)
    <table class="table table-hover">
	  <tbody>
	  @for(ph <- phones) {
		<tr>
		  <td>++@ph.country.phone @ph.areacode @ph.extension</a></td>
		  <td>@Messages("phone.kind." + ph.kind)</td>
		  <td>@if(ctx.user.isDefined) {
		    <a href="/o/@o.id.get/phone/edit/@ph.id.get" title="@Messages("phone.edit")"><i class="glyphicon glyphicon-pencil"></i></a>
		    <a href="/o/@o.id.get/phone/delete/@ph.id.get" title="@Messages("phone.delete")"><i class="glyphicon glyphicon-trash"></i></a>
		  }
		  @lastModificationIcon(ph)
		  </td>
		</tr>
	  }
	  </tbody>
	</table>