@(e: Entity, t: String, phones: List[Phone])(implicit lang: Lang, ctx: util.Ctx)

    <table class="table table-striped table-hover">
	  <thead>
	    <tr>
	      <th>@Messages("phone")</th>
	      <th>@Messages("phone.kind")</th>
	      <th>@Messages("usagetype")</th>
	      <th>@Messages("actions")</th>
	    <tr>
	  </thead>
	  <tbody>
	  @for(ph <- phones) {
		<tr>
		  <td>00@ph.country.phone @ph.areacode @ph.extension</a></td>
		  <td>@Messages("phone.kind." + ph.kind)</td>
		  <td>@Messages("usagetype." + ph.usage)</td>
		  <td>
		  @if(ctx.user.isDefined) {
		    <a href="/@t/@e.id.get/phone/edit/@ph.id.get" title="@Messages("phone.edit")"><i class="icon-pencil"></i></a>
		    <a href="/@t/@e.id.get/phone/delete/@ph.id.get" title="@Messages("phone.delete")"><i class="icon-trash"></i></a>
		  </td>
		  }
		</tr>
	  }
	  @if(ctx.user.isDefined) {
	    <tr>
	      <td colspan="3"><a href="/@t/@e.id.get/phone/edit" title="@Messages("phone.add")"><i class="icon-plus"></i></a> ...</td>
	    </tr>
	  }
	  </tbody>
	</table>