@*
* Inline table to display the {@link Phone} numbers of a {@link Person}.
*
* @param p The {@link Person} to display the {@link Phone} numbers for.
* @param phones A {@link List} of {@link Phone} numbers and additional information.
* @author andreas
* @version 0.0.2, 2015-01-05
*@
@(p: Person, phones: List[(Phone, util.UsageType, util.Privacy)])(implicit lang: Lang, ctx: util.Ctx)
@import helper._
@import util.UsageType
@import util.Privacy

    <table class="table table-hover">
	  <tbody>
	  @for(ph <- phones) {
		<tr>
		  <td>++@ph._1.country.phone @ph._1.areacode @ph._1.extension</a></td>
		  <td>@Messages("phone.kind." + ph._1.kind)</td>
		  <td>@Messages("usagetype." + ph._2)</td>
		  <td>
		  @if(ctx.user.isDefined) {
		  	@if(ctx.userHasPrivilege(ctx.user.get, "edit.person.phone")) {
		    <a href="/p/@p.id.get/phone/edit/@ph._1.id.get" title="@Messages("phone.edit")"><i class="glyphicon glyphicon-pencil"></i></a>
		    }
		    @if(ctx.userHasPrivilege(ctx.user.get, "delete.person.phone")) {
		    <a href="#" data-toggle="modal" title="@Messages("phone.delete")" data-target="#delConfirm_phone" onclick="delId = @ph._1.id.get"><i class="glyphicon glyphicon-trash"></i></a>
		    }
		  }
		  </td>
		</tr>
	  }
	  </tbody>
	</table>
@deleteConfirmationModal("phone", "/p/" + p.id.get + "/phone/delete/")