@**
* Generate a rich text editor in wysihtml5 style.
*
* Example:
* {{{
*   $('#@id').wysihtml5({locale: "de-DE"});
* }}}
*
* @param field The form field.
* @param args Set of extra attributes to be passed to the HTML textarea element.
* @param handler The field constructor.
* @param lang i18n
* @param ctx Session context
*
* @author andreas
* @version 0.0.3, 2015-01-04
*@
@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: FieldConstructor, lang: play.api.i18n.Lang, ctx: util.Ctx)
@input(field, args.filter(_._1 != 'type):_*) { (id, name, value, htmlArgs) =>
	<script src="@routes.Assets.at("bootstrap3-wysiwyg/locales/bootstrap-wysihtml5.de-DE.js")"></script>
    <textarea id="@id" name="@name" @toHtmlArgs(htmlArgs)>@value</textarea>
    <script>
      $('#@id').wysihtml5({locale: "de-DE"});
	</script>
}