.link-like {
  color: #0088cc;
  text-decoration: none;
}

.long-text {
	text-align: justify;
	width: 500px;
}

.img-caption {
	font-size: small;
	font-style: italic;
	padding-bottom: 15px;
	width: 400px;
}

.mini {
	font-size: x-small;
	padding-right: 200px;
	text-align: right;
}
.wysiwyg-color-blue {
  color: blue;
}
.wysiwyg-color-green {
  color: green;
}
.wysiwyg-color-red {
  color: red;
}
.wysiwyg-color-yellow {
  color: yellow;
}
