.link-like {
  color: #0088cc;
  text-decoration: none;
}

.wysiwyg-color-blue {
  color: blue;
}
.wysiwyg-color-green {
  color: green;
}
.wysiwyg-color-red {
  color: red;
}
.wysiwyg-color-yellow {
  color: yellow;
}
