@(message: String)(implicit flash: Flash, ctx: util.Ctx)

@main(message: String) {
    <h2>@Messages("administration")</h2>
    <p class="long-text">
      An dieser Stelle sind administrative T&auml;tigkeiten bez&uuml;glich der Webseite konzentriert.
    </p>
    <h3>@Messages("personincharge")</h3>
    <ul>
      <li><a href="/pic/ac/list" title="@Messages("personincharge.list.ac")">@Messages("personincharge.list.ac")</a></li>
      <li><a href="/pic/ac/new" title="@Messages("personincharge.list.ac.add")">@Messages("personincharge.list.ac.add")</a></li>
      <li><a href="/pic/kv/list" title="@Messages("personincharge.list.kv")">@Messages("personincharge.list.kv")</a></li>
      <li><a href="/pic/kv/new" title="@Messages("personincharge.list.kv.add")">@Messages("personincharge.list.kv.add")</a></li>
      <li><a href="/pic/atv/list" title="@Messages("personincharge.list.atv")">@Messages("personincharge.list.atv")</a></li>
      <li><a href="/pic/atv/new" title="@Messages("personincharge.list.atv.add")">@Messages("personincharge.list.atv.add")</a></li>
      <li><a href="/pic/fb/list" title="@Messages("personincharge.list.fb")">@Messages("personincharge.list.fb")</a></li>
      <li><a href="/pic/fb/new" title="@Messages("personincharge.list.fb.add")">@Messages("personincharge.list.fb.add")</a></li>
      <li><a href="/pic/hb/list" title="@Messages("personincharge.list.hb")">@Messages("personincharge.list.hb")</a></li>
      <li><a href="/pic/hb/new" title="@Messages("personincharge.list.hb.add")">@Messages("personincharge.list.hb.add")</a></li>
      <li><a href="/pic/eg/list" title="@Messages("personincharge.list.eg")">@Messages("personincharge.list.eg")</a></li>
      <li><a href="/pic/eg/new" title="@Messages("personincharge.list.eg.add")">@Messages("personincharge.list.eg.add")</a></li>
    </ul>
    
    <h3>@Messages("charges")</h3>
    <ul>
      <li><a href="/charge/list" title="@Messages("charge.list")">@Messages("charge.list")</a></li>
      <li><a href="/charge/new" title="@Messages("charge.add")">@Messages("charge.add")</a></li>
    </ul>
    
    <h3>@Messages("users")</h3>
    <ul>
      <li><a href="/users" title="@Messages("users")">@Messages("user.list")</a></li>
      <li><a href="/user/edit" title="@Messages("user.add")">@Messages("user.add")</a></li>
    </ul>
    
    <h3>@Messages("roles")</h3>
    <ul>
      <li><a href="/roles" title="@Messages("roles")">@Messages("role.list")</a></li>
      <li><a href="/role/edit" title="@Messages("role.add")">@Messages("role.add")</a></li>
    </ul>
    
    <h3>@Messages("privileges")</h3>
    <ul>
      <li><a href="/privileges" title="@Messages("privileges")">@Messages("privilege.list")</a></li>
      <li><a href="/privilege/edit" title="@Messages("privilege.add")">@Messages("privilege.add")</a></li>
    </ul>

    <h3>@Messages("sports")</h3>
    <ul>
      <li><a href="/sports/list" title="@Messages("sports.list")">@Messages("sports.list")</a></li>
      <li><a href="/sports/new" title="@Messages("sports.add")">@Messages("sports.add")</a></li>
    </ul>     
    
    <h3>@Messages("academicTitles")</h3>
    <ul>
      <li><a href="/ats" title="@Messages("academicTitles")">@Messages("academicTitle.list")</a></li>
      <li><a href="/at/new" title="@Messages("academicTitle.add")">@Messages("academicTitle.add")</a></li>
    </ul>
    
    
    
}
