@(message: String)(implicit flash: Flash, ctx: util.Ctx)

@main(message: String) {
    <h2>Der ATV zu Berlin ist ...</h2>
    <p class="long-text">
      ... eine Verbindung im Dachverband des Akademischen Turnbundes
      (<a href="http://www.atb.net" target="_top" title="Zur Internetpr&auml;senz des Akademischen Turnbundes"><abbr title="Akademischer Turnbund">ATB</abbr></a>). 
      Bei uns erh&auml;lt der Verbindungsgedanke vor allem im gemeinsamen 
      <a href="./sport" title="Zur Seite Sport" target="_top">Breitensport</a> seinen Ausdruck, den 
      wir unseren <a href="./members" title="Zur Seite Mitglieder" target="_top">Mitgliedern</a> in 
      mehreren Arten anbieten.
    </p>
    <p class="long-text">
      Unsere Aktivit&auml;ten umfassen auch die F&ouml;rderung von Meinungs- und Erfahrungsaustausch
      zwischen Studierenden der unterschiedlichsten Fachrichtungen sowie zwischen Studierenden und 
      berufst&auml;tigen Akademikern aller Generationen, mit dem Ziel, Kenntnisse &uuml;ber den 
      Horizont des eigenen Studienfaches hinaus zu erwerben. Mit anderen Studierenden in Deutschland
      und &Ouml;sterreich haben wir durch den
      <a href="http://www.atb.net" target="_blank" title="Zur Internetpr&auml;senz des Akademischen Turnbundes"><abbr title="Akademischer Turnbund">ATB</abbr></a> 
      regen Kontakt. Nicht zuletzt pflegen wir die Geselligkeit und bilden einen Freundeskreis 
      &uuml;ber die Zeit des Studiums hinaus.
    </p>
    <p class="long-text">
      <img src="assets/images/ss00_aa.gif" align="right" alt="Zeichnung der Welt als Scheibe" title="Der ATV zu Berlin steht f&uuml;r Toleranz!" border="0"/>
      Allen Studentinnen und Studenten <a href="./std.php?id=18" title="Zur Seite Hochschulen" target="_top"> 
      Berliner und Brandenburger Hochschulen</a> steht die Mitgliedschaft offen. Wir legen dabei 
      wert auf die Bereitschaft zur aktiven Mitgestaltung des Verbindungslebens, die 
      uneigenn&uuml;tzige &Uuml;bernahme von Verantwortung f&uuml;r unsere Gemeinschaft, sowie auf 
      Toleranz im politischen und gesellschaftlichen Denken. Konfessions- und 
      Staatsangeh&ouml;rigkeit sind f&uuml;r uns ohne Belang.
    </p>
    <p class="long-text">
      Wir sind eine nicht-schlagende und nicht-farbentragende, gemischte Verbindung.
    </p>
        
}
