@(message: String)(implicit flash: Flash, ctx: util.Ctx)

@main(message: String) {
    <h2>Der ATV zu Berlin ist ...</h2>
    <p class="long-text">
      ... eine Verbindung im Dachverband des Akademischen Turnbundes
      (<a href="http://www.atb.net" target="_top" title="Zur Internetpräsenz des Akademischen Turnbundes"><abbr title="Akademischer Turnbund">ATB</abbr></a>). 
      Bei uns erhält der Verbindungsgedanke vor allem im gemeinsamen 
      <a href="./sports/list" title="Zur Seite Sport" target="_top">Breitensport</a> seinen Ausdruck, den 
      wir unseren <a href="./members" title="Zur Seite Mitglieder" target="_top">Mitgliedern</a> in 
      mehreren Arten anbieten.
    </p>
    <p class="long-text">
      Unsere Aktivitäten umfassen auch die Förderung von Meinungs- und Erfahrungsaustausch
      zwischen Studierenden der unterschiedlichsten Fachrichtungen sowie zwischen Studierenden und 
      berufstätigen Akademikern aller Generationen, mit dem Ziel, Kenntnisse über den 
      Horizont des eigenen Studienfaches hinaus zu erwerben. Mit anderen Studierenden in Deutschland
      und &Ouml;sterreich haben wir durch den
      <a href="http://www.atb.net" target="_blank" title="Zur Internetpräsenz des Akademischen Turnbundes"><abbr title="Akademischer Turnbund">ATB</abbr></a> 
      regen Kontakt. Nicht zuletzt pflegen wir die Geselligkeit und bilden einen Freundeskreis 
      über die Zeit des Studiums hinaus.
    </p>
    <p class="long-text">
      <img src="assets/images/ss00_aa.gif" align="right" alt="Zeichnung der Welt als Scheibe" title="Der ATV zu Berlin steht für Toleranz!" border="0"/>
      Allen Studentinnen und Studenten Berliner und Brandenburger Hochschulen</a> steht die 
      Mitgliedschaft offen. Wir legen dabei wert auf die Bereitschaft zur aktiven Mitgestaltung des 
      Verbindungslebens, die uneigennützige &Uuml;bernahme von Verantwortung für unsere 
      Gemeinschaft, sowie auf Toleranz im politischen und gesellschaftlichen Denken. Konfessions- 
      und Staatsangehörigkeit sind für uns ohne Belang.
    </p>
    <p class="long-text">
      Wir sind eine nicht-schlagende und nicht-farbentragende, gemischte Verbindung.
    </p>
        
}
