@**
* Enter or modify an {@link AcademicTitle} in this form.
*
* @param atForm The form data to display.
* @author andreas
* @version 0.0.4, 2015-01-10
*@
@(atForm: Form[AcademicTitle])(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper._
@import play.api.Logger

@implicitField = @{ FieldConstructor(FieldCons.f) }

@main(Messages("academicTitle")) {
    @Logger.debug("Rendering academic title form")
	<h1>@Messages("academicTitle")</h1>
	@form(routes.AcademicTitleCtrl.submit) {
	  @inputHidden(atForm("id")) 
	  <div class="form-group">
	  @inputText(atForm("abbr"), '_label -> Messages("academicTitle.abbr"), 'class -> "form-control")
	  </div>
	  <div class="form-group">
	  @inputText(atForm("maleForm"), '_label -> Messages("academicTitle.maleForm"), 'class -> "form-control")
	  </div>
	  <div class="form-group">
	  @inputText(atForm("femaleForm"), '_label -> Messages("academicTitle.femaleForm"), 'class -> "form-control")
	  </div>
	  <div class="form-group">
	  @inputRadioGroup(atForm("isPrefix"),
          options = options("true" -> Messages("academicTitle.isPrefix.true"), "false" -> Messages("academicTitle.isPrefix.false")),
          '_label -> Messages("academicTitle.isPrefix"), 
          '_class -> "radio-inline", 
          '_help -> "")
      </div>
      @createModifyFormPart(atForm)
      <br/>
      @submitResetCancel()
	}
	
	@Logger.debug("Done rendering academic title form")
}