@**
* Display an academic title.
*
* @author andreas
* @version 0.0.1, 2013-04-20
*@
@(at: AcademicTitle)(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper.twitterBootstrap._
@import helper.deleteConfirmation

@main(Messages("academicTitle")) {
  <h2>@Messages("academicTitle")</h2>
  
  <table class="table table-condensed">
    <caption>
      <h3>@at.abbr</h3>
      <span class="pull-right">
      @if(ctx.user.isDefined) {
        <a href="/at/edit/@at.id.get" title="@Messages("academicTitle.edit")"><i class="icon-pencil"></i></a>
        <a data-toggle="modal" title="@Messages("academicTitle.delete")" data-target="#delConfirm" onclick="delId = @at.id.get"><i class="icon-trash"></i></a>
	  }
	    <a href="/ats" title="@Messages("academicTitle.list")"><i class="icon-th-list"></i></a>
      </span>
    </caption>
    <thead>
    </thead>
    <tbody>
      <tr>
        <th>
          @Messages("academicTitle.maleForm")
        </th>
  		<td>
    	  @at.maleForm
  		</td>
      <tr>
      
      <tr>
        <th>
          @Messages("academicTitle.femaleForm")
        </th>
        <td>
        @at.femaleForm
        </td>
      </tr>
    </tbody>
  </table>

@deleteConfirmation("academicTitle")
}