@**
* Enter or modify an {@link Address} for a distinct {@link Person} in this form.
*
* @author andreas
* @version 0.0.5, 2015-01-02
*@
@(adrForm: Form[(Address, util.UsageType, util.Privacy)], countries: Seq[Country], pid: Long)(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper._
@import play.api.Logger
@import util.UsageType
@import util.Personal
@import util.Privacy
@import util.Private

@implicitField = @{ FieldConstructor(FieldCons.f) }

@main(Messages("address")) {
    @Logger.debug("Rendering person address form")
	<h2>@Messages("address")</h2>
	@form(routes.AddressCtrl.submitPersonAdr(pid)) {
	  @inputHidden(adrForm("address.id"))
	  <div class="form-group">
	  @inputText(adrForm("address.addon"), '_label -> Messages("address.addon"), 'class -> "form-control")
	  </div>
	  <div class="form-group">
	  @inputText(adrForm("address.street"), '_label -> Messages("address.street"), 'class -> "form-control")
	  </div>
	  <div class="form-group">
	  @inputText(adrForm("address.postbox"), '_label -> Messages("address.postbox"), 'class -> "form-control")
	  </div>
	  <div class="form-group">
	  @inputText(adrForm("address.zip"), '_label -> Messages("address.zip"), 'class -> "form-control")
	  @inputText(adrForm("address.city"), '_label -> Messages("address.city"), 'class -> "form-control")
	  </div>
	  <div class="form-group">
	  @select(adrForm("address.country"), 
              countries.map{c => c.id.get.toString -> c.nameDe.get},
              '_label -> Messages("address.selCountry"),
              'class -> "form-control"
      )
      </div>
      <div class="form-group">
      @select(adrForm("usage"), 
              Personal.getUsageTypes().map{u => u.id.toString -> Messages("usagetype." + u.name.toLowerCase)},
              '_label -> Messages("address.selUsageType"),
              'class -> "form-control"
      )
      </div>
      <div class="form-group">
      @select(adrForm("privacy"), 
              Private.getPrivacyLevels().map{p => p.id.toString -> Messages("privacy." + p.name)},
              '_label -> Messages("address.selPrivacy"),
              'class -> "form-control"
      )
      </div>
      @createModifyFormPart(adrForm, "address.")
      @submitResetCancel()
	}
	
	@Logger.debug("Done rendering person address form")
}