@(adrForm: Form[Address], countries: Seq[Country], pid: Long)(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper._
@import play.api.Logger
@import util.Personal

@implicitField = @{ FieldConstructor(FieldCons.f) }

@main(Messages("address")) {
    @Logger.debug("Rendering address form")
	<h1>@Messages("address")</h1>
	@form(routes.AddressCtrl.submitPersonAdr(pid)) {
	  @inputHidden(adrForm("id")) 
	  @inputText(adrForm("addon"), '_label -> Messages("address.addon"))
	  @inputText(adrForm("street"), '_label -> Messages("address.street"))
	  @inputText(adrForm("postbox"), '_label -> Messages("address.postbox"))
	  @inputText(adrForm("zip"), '_label -> Messages("address.zip"))
	  @inputText(adrForm("city"), '_label -> Messages("address.city"))
	  @select(adrForm("country"), 
              countries.map{c => c.id.get.toString -> c.nameDe.get},
              '_label -> Messages("address.selCountry")
      )
      @select(adrForm("usage"), 
              Personal.getUsageTypes().map{u => u.id.toString -> Messages("usagetype." + u.name.toLowerCase)},
              '_label -> Messages("address.selUsageType")
      )
      @select(adrForm("privacy"), 
              Private.getPrivacyLevels().map{p => p.id.toString -> Messages("privacy." + u.name)},
              '_label -> Messages("address.selPrivacy")
      )
      @createModifyFormPart(adrForm)
      @submitResetCancel()
	}
	
	@Logger.debug("Done rendering address form")
}