@**
* List the addresses of an organization o.
*
* @author andreas
* @version 0.0.5, 2013-04-13
*@
@(o: Organization, addresses: List[Address])(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper._
@import helper.twitterBootstrap._
@import play.api.Logger

@main(Messages("address")) {
    @Logger.debug("Rendering addresses of organization " + o.name)
	<h2>@Messages("addresses.of") @o.name</h2>
	@adrOrgTable(o, addresses)
	@linkToOrgDetails(o)
	@Logger.debug("Done rendering addresses of organization " + o.name)
}