@(chargeForm: Form[Charge])(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper._
@import play.api.Logger
@import util.Division

@implicitField = @{ FieldConstructor(FieldCons.f) }

@main(Messages("charge")) {
    @Logger.debug("Rendering charge form")
	<h1>@Messages("charge.add")</h1>
	@form(routes.ChargeCtrl.submit) {
	  @inputHidden(chargeForm("id")) 
	  @inputText(chargeForm("name"), '_label -> Messages("charge.name"), 'style -> "width: 600px")
    @inputText(chargeForm("abbr"), '_label -> Messages("charge.abbr"), 'style -> "width: 600px")
    @select(chargeForm("division"), 
              Division.values.toList.map{d => d.toString -> d.toString},
              '_label -> Messages("charge.division")
    )
	  @textarea(chargeForm("shortDesc"), '_label -> Messages("charge.shortDesc"), 'style -> "width: 600px; height: 50px")
	  @richTextEditor(chargeForm("longDesc"), '_label -> Messages("charge.longDesc"),
	   'placeholder -> Messages("wysihtml5.placholder"), 'style -> "width: 600px; height: 200px")
    @inputText(chargeForm("email"), '_label -> Messages("charge.email"), 'style -> "width: 600px")
      @createModifyFormPart(chargeForm)
      @submitResetCancel()
    
	}
	
	@Logger.debug("Done rendering charge form")
}