@(charges: Seq[Charge])(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper.chargesDivisionTable
@import helper.deleteConfirmation
@import helper.lastModificationIcon
@import util.Division._

@main(Messages("charge")) {
	@chargesDivisionTable(charges.filter(_.division.eq(Aktivitas)).sortBy(_.position), Aktivitas.toString)
    @chargesDivisionTable(charges.filter(_.division.eq(Korporationsverband)).sortBy(_.position), Korporationsverband.toString)
    @chargesDivisionTable(charges.filter(_.division.eq(ATV)).sortBy(_.position), ATV.toString)
    @chargesDivisionTable(charges.filter(_.division.eq(Handball)).sortBy(_.position), Handball.toString)
    @chargesDivisionTable(charges.filter(_.division.eq(Faustball)).sortBy(_.position), Faustball.toString)
    @chargesDivisionTable(charges.filter(_.division.eq(Ehrengericht)).sortBy(_.position), Ehrengericht.toString)
@deleteConfirmation("charge")
}