@(charges: Seq[Charge])(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper.deleteConfirmation
@import helper.lastModificationIcon

@main(Messages("charge")) {
	<h2>@{if(charges.size == 1) Messages("charge") else Messages("charge")}</h2>
	<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>@Messages("charge.name")</th>
        <th>@Messages("charge.abbr")</th>
        <th>@Messages("charge.division")</th>
        <th>@Messages("charge.email")</th>
      </tr>
    </thead>
    <tbody>
    @charges.map { c =>
      <tr>
        <td>@c.name</td>
        <td>@c.abbr.getOrElse("")</td>
        <td>@c.division.toString</td>
          <td> 
            <a href="/charge/@c.id.get" title="@Messages("charge.view")"><i class="icon-eye-open"></i></a>
          @if(ctx.user.isDefined) {
            <a href="/charge/edit/@c.id.get" title="@Messages("charge.edit")"><i class="icon-pencil"></i></a>
            <a href="#" data-toggle="modal" title="@Messages("charge.delete")" data-target="#delConfirm" onclick="delId = @c.id.get"><i class="icon-trash"></i></a>
          }
          @lastModificationIcon(c)
          </td>
        </tr>
    }
    @if(ctx.user.isDefined) {
      <tr>
        <td colspan="3"></td>
        <td><a href="/charge/new" title="@Messages("charge.add")"><i class="icon-plus"></i></a> ...</td>
      </tr>
    }
    </tbody>
  </table>	
@deleteConfirmation("charge")
}