@**
 * documentUpload Template File 
 *@
@(docForm: Form[models.to.DocumentUploadTO])(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper._
@import play.api.Logger
@import util.Agenda

@main(Messages("document.upload")) {
	 @Logger.debug("Rendering document upload form")
	<h1>@Messages("document.upload")</h1>
    @if(docForm.hasGlobalErrors) {
        <div class="error">
            <ul>
                @docForm.globalErrors.foreach { error =>
                  <li>error.message</li>
                }
            </ul>
        </div>
    }
	@form(routes.DocumentCtrl.upload, 'enctype -> "multipart/form-data") {
	  <div class="form-group"> 
	  @inputText(docForm("title"), '_label -> Messages("document.title"), 'class -> "form-control")
	  </div>
	  <div class="form-group">
	  @inputText(docForm("description"), '_label -> Messages("document.description"), 'class -> "form-control")
	  </div>
	  <div class="form-group">
	  @select(docForm("category"),
	          Agenda.getDocumentTypes.map{dt => dt.id.toString -> dt.name},
              '_default -> ("<-- " + Messages("document.category.select") + " -->"),
              '_label -> Messages("document.category"),
              'class -> "form-control"
      )
      </div>
      <div class="form-group">
      @inputFile(docForm("file"), '_label -> Messages("document.file.select"), 'class -> "form-control")
      </div> 
	  @createModifyFormPart(docForm)
      @submitResetCancel()
	}
	@Logger.debug("Done rendering document upload form")
}
