@**
* List the email addresses of a person p.
*
* @author andreas
* @version 0.0.5, 2013-04-13
*@
@(p: Person, emails: List[(Email, PersonHasEmail)])(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper._
@import helper.twitterBootstrap._
@import play.api.Logger

@main(Messages("email")) {
    @Logger.debug("Rendering email addresses of person " + p.fullname)
	<h2>@Messages("emails.of") @p.fullname</h2>
	@emailTable(p, emails)
	@linkToPersonDetails(p)
	@Logger.debug("Done rendering email addresses of person " + p.fullname)
}