@**
* List the email addresses of an organization o.
*
* @author andreas
* @version 0.0.5, 2013-04-13
*@
@(o: Organization, emails: List[(Email, OrgHasEmail)])(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper._
@import helper.twitterBootstrap._
@import play.api.Logger

@main(Messages("email")) {
    @Logger.debug("Rendering email addresses of organization " + o.name)
	<h2>@Messages("emails.of") @o.name</h2>
	@emailOrgTable(o, emails)
	@linkToOrgDetails(o)
	@Logger.debug("Done rendering email addresses of organization "+ o.name)
}