@(emailForm: Form[Email], pid: Long)(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper._
@import play.api.Logger
@import util.Personal
@import util.Private

@implicitField = @{ FieldConstructor(FieldCons.f) }

@main(Messages("email")) {
    @Logger.debug("Rendering email form")
	<h2>@Messages("email")</h2>
	@form(routes.EmailCtrl.submitPersonEmail(pid)) {
	  @inputHidden(emailForm("id")) 
	  @inputText(emailForm("address"), '_label -> Messages("email.address"))
	  @select(emailForm("usage"), 
              Personal.getUsageTypes().map{u => u.id.toString -> Messages("usagetype." + u.name.toLowerCase)},
              '_label -> Messages("email.selUsageType")
      )
      @select(emailForm("privacy"), 
              Private.getPrivacyLevels().map{p => p.id.toString -> Messages("privacy." + p.name)},
              '_label -> Messages("email.selPrivacy")
      )
      @createModifyFormPart(emailForm)
      @submitResetCancel()
	}
	@Logger.debug("Done rendering email form")
}