@(es: Seq[(Enrollment, Event)])(implicit flash: Flash, lang: Lang, ctx: util.Ctx)

	<h2>@Messages("enrollments")</h2>
	<table>
      <thead>
        <tr>
          <th>@Messages("enrollment.event")</th>
          <th>@Messages("enrollment.numberOfAdults")</th>
          <th>@Messages("enrollment.numberOfKids")</th>
          <th>@Messages("enrollment.list.status")</th>
        </tr>
      </thead>
      <tbody>
	@es.map { e =>
	    <tr>
	      <td>@e._2.title</td>
	      <td>@e._1.numberOfAdults</td>
	      <td>@e._1.numberOfKids</td>
	      <td>@Messages("enrollment.confirmed." + e._1.confirmed)</td>
	    </tr>
	}
	  </tbody>
    </table>	
