@**
* Form to enter or modify the {@link Enrollment} of a {@link Person} to an {@link Event}.
*
* @author andreas
* @version 0.0.2, 2013-05-04
*@
@(enrollmentForm: Form[Enrollment], persons: List[Person])(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper._
@import play.api.Logger

@implicitField = @{ FieldConstructor(FieldCons.f) }

    @Logger.debug("Rendering enrollment form")
	@form(routes.EnrollmentCtrl.submit) {
	  @inputHidden(enrollmentForm("id"))
	  @inputHidden(enrollmentForm("event"))
	  @select(enrollmentForm("person"), 
              persons.map{p => p.id.get.toString -> p.fullname},
              '_label -> "",
              '_help -> "")
      @inputText(enrollmentForm("numberOfAdults"), '_label -> Messages("enrollment.numberOfAdults"), '_help -> "")
	  @inputText(enrollmentForm("numberOfKids"), '_label -> Messages("enrollment.numberOfKids"), '_help -> "")
      @inputRadioGroup(enrollmentForm("confirmed"),
          options = options("true" -> Messages("enrollment.confirmed.true"), "false" -> Messages("enrollment.confirmed.false")),
          '_label -> Messages("enrollment.confirmed"), '_class -> "radio inline", '_help -> "")
      @inputHidden(enrollmentForm("cancelled"), '_value -> "false")
      @createModifyFormPart(enrollmentForm)
      <br/>
      @submitResetCancel()
	}
	@Logger.debug("Done rendering enrollment form")
