@(message: String)(implicit flash: Flash, ctx: util.Ctx)

@main(Messages("welcome")) {
  <h2>@Messages("sports")</h2>
<p class="long-text">
  Als Akademischer <em>Turn</em>verein treiben wir nat&uuml;rlich Sport. Wir bieten
  f&uuml;r alt und jung ein attraktives und umfangreiches Programm an, bei dem
  sicherlich auch f&uuml;r Dich das passende dabei ist.
</p>

<h3 id="Aktivensport">@Messages("sports.actives")</h3>
  <p class="long-text">
    <img class="inline" height="226" width="214" src="./img/basket.gif" hspace="5" vspace="5" align="left" alt="Basketball-Comic"/>
    Gemeinsam mit <abbr title="einer sehr verehrlichen">e.s.v.</abbr>
    <a href="http://www.atv-maerker.de" target="_blank" title="Zur Internetpr&auml;senz der ATV der M&auml;rker und Kurmark"><abbr title="Akademischen Turnverbindung">ATV</abbr> der M&auml;rker und Kurmark</a>
    betreiben wir unseren w&ouml;chentlichen Sporttermin in deren Sporthalle in Steglitz. Leider ist das
    Fu&szlig;ballspielen dort nicht gestattet, aber das hindert uns nicht daran, Basketball und Volleyball zu
    spielen. Zum Fu&szlig;ball m&uuml;ssen wir uns dann im Sommerhalbjahr wieder irgendwo draussen verabreden,
    damit wir uns auf die
    <a href="http://www.atb.net" target="_top" title="Zur Internetpr&auml;senz des Akademischen Turnbundes"><abbr title="Akademischer Turnbund">ATB</abbr></a>-
    Meisterschaften im Fu&szlig;ball Ende Juni in Kiel vorbereiten k&ouml;nnen. Interessenten sollten
    unbedingt vorher beim
    <a href="./std.php?id=4#Sport" title="Zur E-Mail-&Uuml;bersichtsseite">Sportwart</a>
    oder auf dem <a href="./std.php?id=3" title="Zur Infoseite">Verbindungshaus</a>
    anrufen, wie die aktuelle Lage ist.
    <img class="inline" height="127" width="244" src="img/fussball.gif" hspace="5" vspace="5" align="right" alt="Fussball-Comic"/>
  </p>

<h3 id="Rudern">@Messages("sports.rowing")</h3>
  <div class="figure">
    <img class="photo" src="img/rudern_watt_atbfest2004.jpg" border="0" alt="Bbr. Banser voc. Watt ruderte erfolgreich beim ATB-Fest 2004 in Kiel" title="Bbr. Banser voc. Watt ruderte erfolgreich beim ATB-Fest 2004 in Kiel"/>
    <p>
      <abbr title="Bundesbruder">Bbr.</abbr> Schachner <abbr lang="la" title="vocatus">voc.</abbr> Mampf (<abbr title="rechts">re.</abbr>) ruderte erfolgreich beim <abbr title="Akademischen Turnbundsfest">ATB</abbr>-Fest 2004 in Kiel
    </p>
  </div>
  <p class="long-text">
    Unter der fachkundigen Anleitung einiger erfahrener Wassersportler rudern
    wir gekonnt &uuml;ber die Berliner Gew&auml;sser. Unsere lange Rudertradition
    verpflichtet und wird bis heute - und sicher auch dar&uuml;ber hinaus - durch
    die &uuml;ber 100 Jahre bestehende Ruderriege getragen. Das Wochenende muss
    nicht die alleinige Zeit in der Woche sein, an dem es aufs Wasser geht: spontan
    entschlossene finden sich immer wieder auch unter der Woche zusammen, um unser
    erst k&uuml;rzlich wiedergewonnenes
    <a href="./std.php?id=11#Bootshaus" title="Information zum Bootshaus">Bootshaus</a>
    in der Regattastra&szlig;e 245 in Gr&uuml;nau entsprechend zu nutzen.<br/>
    Unsere Erfolge beim
    <a href="http://www.atb.net" target="_top" title="Zur Internetpr&auml;senz des Akademischen Turnbundes"><abbr title="Akademischer Turnbund">ATB</abbr></a>-Fest
    in Hofheim im Mai 1998 k&ouml;nnen sich sehen lassen: <em>2x Gold</em>
    und <em>3x Vierter</em>!<br/>
    Beim <abbr title="Akademischen Turnbunds">ATB</abbr>-Fest in Kiel 2004 erreichten wir
    <em>1x Gold</em>, <em>2x Silber</em>, <em>1x Bronze</em> und <em>1x Vierter</em>!
    Info: <a href="./std.php?id=4#Sport" title="Zur E-Mail-&Uuml;bersichtsseite">E-Mail</a><br/>
  </p>

<h3 id="Faustball">@Messages("sports.fistball")</h3>
  <p class="long-text">
    Seit langen Jahren spielt die Truppe schon zusammen und hat m&auml;chtig
    Spa&szlig; dabei. Jede(r) neue ist jederzeit willkommen. Hier liegt der
    Schwerpunkt auf dem mannschaftlichen Spiel und dem Spa&szlig;. Aber
    Erfolge kommen auch dabei heraus, schlie&szlig;lich ist das Team 1998
    <a href="http://www.atb.net" target="_top" title="Zur Internetpr&auml;senz des Akademischen Turnbundes"><abbr title="Akademischer Turnbund">ATB</abbr></a><em>-Meister</em>
    geworden. Bei den Meisterschaften 2003 in Braunschweig wurde sie <em>Dritter</em>!<br/>
    Info: <a href="./std.php?id=4#Sport" title="Zur E-Mail-&Uuml;bersichtsseite">E-Mail</a>
  </p>

<h3 id="Handball">@Messages("sports.handball")</h3>
  <p class="long-text">
    Endlich wieder dabei beim <abbr title="Akademischen Turnverein">ATV</abbr>: Unsere
    Mannschaft marschiert durch die Spiele von Sieg zu Sieg, so dass
    man jedem nur empfehlen kann, sich das einmal anzusehen! Interessenten melden
    sich beim Verantwortlichen f&uuml;r
    <a href="./std.php?id=4#Sport" title="Zur E-Mail-&Uuml;bersichtsseite">Handball</a>!
  </p>

<h3 id="Volleyball">@Messages("sports.volleyball")</h3>
  <div class="figure">
    <img class="photo" src="./img/volleyall_atb-fest2004.jpg" border="0" alt="Volleyballteam des ATV beim ATB-Fest 2004 in Kiel" title="Volleyballteam des ATV beim ATB-Fest 2004 in Kiel"/>
    <p>
      Volleyballteam des <abbr title="Akademischen Turnvereins">ATV</abbr>
      beim <abbr title="Akademischer Turnbund">ATB</abbr>-Fest 2004 in Kiel
    </p>
  </div>
  <p class="long-text">
    <em><abbr title="Ehrenmitglied">EM</abbr> Schachner <abbr lang="la" title="vocatus">voc.</abbr> Mampf</em> hat eine
    Freizeitmannschaft aufgebaut, in der auch die Bundesgeschwister mitmischen.
    Das einleitende Aufw&auml;rmen und Konditionstraining h&auml;lt uns fit f&uuml;r
    alle Lebenslagen, das anschlie&szlig;ende Techniktraining feilt an unseren
    F&auml;higkeiten und das abschlie&szlig;ende, ausgedehnte Match l&auml;&szlig;t
    einen gleich alles vorher gelernte anwenden - mit einer deftigen Portion
    Spa&szlig;!<br/>
    2002 konnten wir in Clausthal bei den Dachverbandsmeisterschaften <em>Vierter</em>,
    2003 <em>F&uuml;nfter</em> werden und beim
    <a href="http://www.atb.net" target="_top" title="Zur Internetpr&auml;senz des Akademischen Turnbundes"><abbr title="Akademischer Turnbund">ATB</abbr></a>-Fest
    in Hofheim 1998 <em>Bronze</em> holen.<br/>
    Info: <a href="./std.php?id=4#Sport" title="Zur E-Mail-&Uuml;bersichtsseite">E-Mail</a>
  </p>

<h3 id="Turniere">Turniere</h3>
  <p class="long-text">
    Innerhalb unseres Dachverbandes (<a href="http://www.atb.net" target="_top" title="Zur Internetpr&auml;senz des Akademischen Turnbundes"><abbr title="Akademischer Turnbund">ATB</abbr></a>)
    gibt es zahlreiche Sportturniere, an denen wir teilnehmen. Besonders wichtig
    sind uns jedes Jahr
  </p>
  <ul>
    <li class="normal">
      das Volleyballturnier <abbr title="einer sehr verehrlichen">e.s.v.</abbr>
      <a href="http://www.asv-barbara.de" target="_blank" title="Zur Internetpr&auml;senz der ASV Barbara Clausthal"><abbr title="Akademischen Sportverbindung">ASV</abbr> Barbara Clausthal</a>,
    </li>
    <li class="normal">
      das Fu&szlig;ballturnier <abbr title="einer sehr verehrlichen">e.s.v.</abbr>
      <a href="http://www.atv-ditmarsia.de" target="_blank" title="Zur Internetpr&auml;senz der ATV Ditmarisa Kiel"><abbr title="Akademischen Turnverbindung">ATV</abbr> Ditmarsia Kiel</a>,
    </li>
    <li class="normal">
      die Kegel- und Bowlingmeisterschaften <abbr title="einer sehr verehrlichen">e.s.v.</abbr>
      <a href="http://www.tu-freiberg.de/~asv/" target="_blank" title="Zur Internetpr&auml;senz der ASV Alte Elisabeth zu Freiberg/Sachsen"><abbr title="Akademischen Sportverbindung">ASV</abbr> &quot;Alte Elisabeth&quot; zu Freiberg/Sachsen</a>
      und
    </li>
    <li class="normal">
      das Thomasturnier <abbr title="einer sehr verehrlichen">e.s.v.</abbr>
      <a href="http://www.atv-teutonia.de" target="_blank" title="Zur Internetpr&auml;senz der ATV Teutonia Erlangen"><abbr title="Akademischen Turnverbindung">ATV</abbr> Teutonia Erlangen</a>.
    </li>
  </ul>
  <p class="long-text">
    Alle drei Jahre findet das <a href="http://www.atb.net" target="_top" title="Zur Internetpr&auml;senz des Akademischen Turnbundes"><abbr title="Akademischer Turnbund">ATB</abbr></a>-Fest
    statt, das immer ein ganz besonderes Ereignis ist. Das n&auml;chste steigt
    2014 in Bonn.
  </p>
  <p class="long-text">
    Weitere Information gibt es bei unseren Sportwarten der
    <a href="./std.php?id=4#Sport" title="Zur E-Mail-&Uuml;bersichtsseite">Aktivitas</a>,
    des <a href="./std.php?id=4#Sport" title="Zur E-Mail-&Uuml;bersichtsseite"><abbr title="Korporationsverbandes">KV</abbr></a>
    oder bei einer unserer anderen <a href="./std.php?id=3" title="Zur Infoseite">
    Kontaktstellen</a>.
  </p>
}
