@(message: String)(implicit flash: Flash, ctx: util.Ctx)

@main(message: String) {
    <h2>Geschichte</h2>
    <p class="long-text">
      Der Akademische Turnverein zu Berlin wurde am 17. Juli 1860 im Auditorium VII der
      Friedrich-Wilhelms-Universit&auml;t in Berlin nach einem Aufruf der Studenten 
      <strong>Teichert</strong> und <strong>Stolze</strong> gegr&uuml;ndet.
    </p>
    <p class="long-text">
      Der Verein machte es sich zur Aufgabe, das Turnen an den deutschen Hochschulen zu verbreiten. 
      Sein Wahlspruch lautet <em>Mens sana in corpore sano</em>, seine Farben sind 
      <em>Schwarz-Rot-Gold</em>, die wohl zur&uuml;ckgehen auf die Farben der
      L&uuml;tzow&prime;schen J&auml;ger, wahrscheinlicher sogar auf die Farben des Reichsbanners
      des alten Deutschen Reiches.
    </p>
    <p class="long-text">
      Der <abbr title="Akademische Turnverein">ATV</abbr> zu Berlin war stets eine der gro&szlig;en 
      Korporationen im <abbr title="Akademischen Turnbund">ATB</abbr>; Bundesbr&uuml;der des 
      <abbr title="Akademischen Turnvereins">ATV</abbr> zu Berlin waren beteiligt an der 
      Gr&uuml;ndung der
      <a href="http://www.arminia-cheruscia.de" target="_blank" title="Externer Link: Internetpr&auml;senz der ATV Arminia Berlin"><abbr title="Akademischen Turnverbindung">ATV</abbr> Arminia Berlin</a>, der
      <a href="http://www.atv-maerker.de" target="_blank" title="Externer Link: Internetpr&auml;senz der ATV der M&auml;rker und Kurmark"><abbr title="Akademischen Turnverbindung">ATV</abbr> Kurmark</a>, der
      <a href="http://www.atv-maerker.de" target="_blank" title="Externer Link: Internetpr&auml;senz der ATV der M&auml;rker und Kurmark"><abbr title="Akademischen Turnverbindung">ATV</abbr> der M&auml;rker</a>, der
      <a href="http://www.atv-ditmarsia.de" target="_blank" title="Externer Link: Internetpr&auml;senz der ATV Ditmarsia Kiel"><abbr title="Akademischen Turnverbindung">ATV</abbr> Ditmarsia</a> und wandelten
      die &quot;Akademische Gesellschaft&quot; in Jena im Jahre 1882 um in die
      &quot;<a href="http://www.gothania.de" target="_blank" title="Externer Link: Internetpr&auml;senz der ATSV Gothania-Jenensis zu Frankfurt"><abbr title="Akademische Turnverbindung">ATV</abbr> Gothania Jena</a>&quot;.
      Seine h&ouml;chste Zahl an Mitgliedern erreichte der 
      <abbr title="Akademische Turnverein">ATV</abbr> zu Berlin Ende 1926 mit 734
      <abbr title="Alte Herren">AHAH</abbr> und mehr als 100 Aktiven.
    </p>
    <p class="long-text">
      Von den Bundesbr&uuml;dern des <abbr title="Akademischen Turnvereins">ATV</abbr> zu Berlin 
      seien besonders erw&auml;hnt <abbr title="Bundesbruder">Bbr.</abbr>
      <abbr title="Ehrenmitglied">EM</abbr> <strong><abbr title="Professor">Prof.</abbr> Johannes 
      Heinrich</strong>, der von 1895 bis 1905 als Schriftleiter der 
      &quot;<abbr title="Akademischen Turnbund">ATB</abbr>-Bl&auml;tter&quot; t&auml;tig war und 
      durch seine Lehrg&auml;nge &quot;Leibes&uuml;bungen und Jugendpflege&quot;, Leibes&uuml;bungen
      und Ballspiele an den Berliner Schulen einf&uuml;hrte. <abbr title="Bundesbruder">Bbr.</abbr> 
      <strong><abbr title="Doktor">Dr.</abbr> Otto Reinhardt</strong> tat gleichfalls sehr viel 
      f&uuml;r die Jugendbewegung, <abbr title="das hei&szlig;t">d.h.</abbr> f&uuml;r Turnen und 
      Wandern, und wirkte in der Deutschen Turnerschaft. An der Spitze der 
      <abbr title="Deutschen Turnerschaft">DT</abbr> stand eine Zeit lang - Ende der 20er Jahre - 
      <abbr title="Bundesbruder">Bbr.</abbr> <strong>Alexander Dominicus</strong>, Preu&szlig;ischer 
      Innenminister <abbr title="au&szlig;er Dienst">a.D.</abbr>
    </p>
    <p class="long-text">
      Den <abbr title="Akademischen Turnverein">ATV</abbr> zu Berlin verbindet eine mehr als
      140j&auml;hrige enge Freundschaft mit dem
      <a href="http://www.atvgraz.at" target="_blank" title="Externer Link: Internetpr&auml;senz des ATV Graz">ATV Graz</a>.
      Auf die Bitte des <abbr title="Akademischen Turnvereins">ATV</abbr> Graz an einzelne 
      reichsdeutsche <abbr title="Akademische Turnverbindung">ATV</abbr>en, in einen 
      Gedankenaustausch und eine enge Zusammenarbeit einzutreten, hatte der
      <abbr title="Akademische Turnverein">ATV</abbr> zu Berlin am 7. Juni 1866, einen Monat also 
      vor der Schlacht von K&ouml;niggr&auml;tz am 3. Juli, geantwortet: &quot;Was uns auch die 
      Zukunft bringen mag, ob auch unsere L&auml;nder und Politik verschiedene Wege gehen, wir sind 
      erfreut, in &Ouml;sterreich Genossen zu finden, die mit uns dasselbe Streben, denselben 
      Jahnschen Geist teilen.&quot;<br/>
      Diese Freundschaft bew&auml;hrte sich &uuml;ber das ganze Jahr 1866 hinaus bis in unsere Tage.
    </p>
    <p class="long-text">
      Aktuell z&auml;hlt der <abbr title="Akademische Turnverein">ATV</abbr> zu Berlin 105 Alte 
      Damen und Alte Herren, 5 Ehrenmitglieder und 4 Alte Herren ehrenhalber. Hinzu kommen 13 Aktive
      und 0 Fux, sowie 31 Mitturnerinnen und Mitturner.
    </p>
    <p class="long-text">
      Von Anfang an betrieb der <abbr title="Akademische Turnverein">ATV</abbr> zu Berlin die 
      Leibes&uuml;bungen im weitesten Sinne bis zum heutigen Tage. Als eingetragener Verein 
      geh&ouml;ren wir drei Berliner Sportverb&auml;nden an:<br/>
      Im <a href="http://www.berlinerturnerbund.de/" target="_blank" title="Externer Link: Internetpr&auml;senz des Berliner Tunrerbundes">Berliner Turnerbund</a>
      finden sich diejenigen Sportler, die Leichtathletik oder Ballspiele betreiben, seien es
      <a href="./std.php?id=32" title="Information zum Basketball">Basketball</a>,
      <a href="./std.php?id=35" title="Information zum Faustball">Faustball</a> oder
      <a href="./std.php?id=36" title="Information zum Volleyball">Volleyball</a>. In der 
      Leichtathletik wurden mehr als 15 Sportfeste der Berliner schwarzen Verbindungen 
      durchgef&uuml;hrt. Damit setzte sich die Tradition fort, die im 
      4<abbr title="mal">x</abbr>100<abbr title="Meter">m</abbr> Staffellauf der Olympischen Spiele 
      1936 ihren H&ouml;hepunkt hatte, als dort &quot;zu Berliner&quot; f&uuml;r Deutschland 
      starteten. Heute hat sich dieser Schwerpunkt zu den Ballspielen verlagert. Unsere Faustballer 
      waren 1998 <abbr title="Akademischer Turnbund">ATB</abbr>-Meister.
    </p>
    <p class="long-text">
      Dem <a href="http://www.hvberlin-online.de/" target="_blank" title="Externer Link: Internetpr&auml;senz des Handballverbands Berlin">Handballverband Berlin</a>
      geh&ouml;ren wir mittlerweile wieder als aktives Mitglied an, nachdem der Spielbetrieb im
      Herbst 1998 eingestellt werden musste. Unsere Handballmannschaften waren mehrfach
      <abbr title="Akademischer Turnbund">ATB</abbr>-Meister. Ein Mitglied der Siegermannschaft
      der Olympischen Spiele 1936 in Berlin kommt aus unseren Reihen,
      <abbr title="Bundesbruder">Bbr.</abbr> <strong>Fromm</strong> <abbr title="vocatus">v.</abbr> Star.<br/>
      Unsere Profis spielten in der Saison 1991/92 in der zweiten Bundesliga Nord und gewannen in 
      den Folgejahren zweimal den Berliner Handballpokal. Aber das Spielen in Berlins h&ouml;chster
      Spielklasse erforderte nicht nur k&ouml;rperlichen sondern auch finanziellen Einsatz. 
      Letzteren konnten alle Beteiligten nicht mehr gew&auml;hrleisten, so dass der Spielbetrieb im
      Herbst 1998 eingestellt werden musste. Seit Herbst 2001 spielt aber wieder eine ausgesprochen
      erfolgreiche Mannschaft f&uuml;r den <abbr title="Akademischen Turnverein">ATV</abbr>
    </p>
    <p class="long-text">
      Unsere <a href="./std.php?id=33" title="Information zum Rudern">Ruderer</a> sind Mitglied im
      <a href="http://www.lrvberlin.de/" target="_blank" title="Externer Link: Internetpr&auml;senz des Landesrudervandes Berlin">Landesruderverband Berlin</a>.
      Die Ruderriege wurde 1896 gegr&uuml;ndet und hatte 1914 allein 109 Mitglieder. Diese fanden
      ihre Heimstatt im neu erbauten Bootshaus in <a href="./std.php?id=11#Bootshaus" title="Information zum Bootshaus">Gr&uuml;nau</a>.
      Die Geschichte dieses Hauses weist einen H&ouml;hepunkt vor wenigen Jahren aus. Dem
      Korporationsverband des <abbr title="Akademischen Turnvereins">ATV</abbr> zu Berlin wurde
      am 1. September 1999 dieses Haus r&uuml;ck&uuml;bertragen. Eigene Boote haben wir schon 
      l&auml;ngst nicht mehr. Hier gilt es, Dank zu sagen, erstens dem
      <a href="http://www.srcf.de/" target="_blank" title="Externer Link: Internetpr&auml;senz des Spandauer Ruderclubs Friesen">Spandauer Ruder-Club &quot;Friesen&quot;</a>,
      der uns bis zu diesem Termin das Rudern erm&ouml;glichte, und zweitens dem
      <a href="http://www.schuelerrudern.de" target="_blank" title="Externer Link: Internetpr&auml;senz des Sch&uuml;lerruderverbandes">Sch&uuml;ler-Ruderverband</a> Berlin,
      der uns seither in der Sache behilflich ist.<br/>
      In den vergangenen Jahren war der <abbr title="Akademische Turnverein">ATV</abbr> wiederholt 
      in verschiedenen Bootsklassen <abbr title="Akademischer Turnbund">ATB</abbr>-Meister.
    </p>
    <p class="mini">
      [aus &quot;100 Jahre Akademischer Turnbund&quot;, 1983]<br/>
      [aus &quot;Altherren-Zeitung des Akadmeischen Turnvereins zu Berlin&quot;, Nr. 412, Juni 2000]<br/>
      jeweils inhaltlich aktualisiert und angepasst
    </p>
}
