@(hpForm: Form[Homepage], oid: Long)(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper._
@import play.api.Logger
@import util.Personal
@import util.Private

@implicitField = @{ FieldConstructor(FieldCons.f) }

@main(Messages("homepage")) {
    @Logger.debug("Rendering homepage form")
	<h2>@Messages("homepage")</h2>
	@form(routes.HomepageCtrl.submitOrgHomepage(oid)) {
	  @inputHidden(hpForm("id"))
	  <div class="form-group">
	  @inputText(hpForm("url"), '_label -> Messages("homepage.url"), 'class -> "form-control")
	  </div>
	  <div class="form-group">
	  @inputText(hpForm("descr"), '_label -> Messages("homepage.descr"), 'class -> "form-control")
	  </div>
	  @createModifyFormPart(hpForm)
      @submitResetCancel()
	}
	@Logger.debug("Done rendering homepage form")
}