@**
* List the homepages of a person p.
*
* @author andreas
* @version 0.0.5, 2013-04-13
*@
@(p: Person, hps: List[(Homepage, PersonHasHomepage)])(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper._
@import helper.twitterBootstrap._
@import play.api.Logger

@main(Messages("homepage")) {
    @Logger.debug("Rendering homepages of person " + p.fullname)
	<h2>@Messages("homepages.of") @p.fullname</h2>
	@homepageTable(p, hps)
	@linkToPersonDetails(p)
	@Logger.debug("Done rendering homepages of person " + p.fullname)
}