@(message: String)(implicit flash: Flash, ctx: util.Ctx)

@main(message: String) {
    <h2>Vereinsheim in Zehlendorf</h2>
    <div>
      <p>
        <img class="img-polaroid" src="assets/images/atv_haus.jpg" alt="Verbindungshaus des ATV zu Berlin" title="Das Vereinsheim des ATV in Zehlendorf"/>
      </p>
      <p class="img-caption"><abbr title="Akademischer Turnverein">ATV</abbr> zu Berlin, Onkel-Tom-<abbr title="Stra&szlig;e">Str.</abbr> 52, 14169 Berlin-Zehlendorf</p>
    </div>
    <p class="long-text">
      In der Onkel-Tom-<abbr title="Stra&szlig;e">Str.</abbr> 52 in Berlin-Zehlendorf steht die 
      <abbr title="Akademischer Turnverein">ATV</abbr>-Villa. Das Anfang des 20. Jahrhunderts 
      erbaute Haus beinhaltet im Erdgeschoss den &quot;&ouml;ffentlichen&quot; Bereich mit 
      Kneipsaal, Thekenraum, &Ouml;konomiek&uuml;che und Ruderzimmer. In den Stockwerken 
      dar&uuml;ber befindet sich der Wohnbereich der Aktiven. Neben sieben Aktivenzimmern sind hier 
      noch Bad, Toilette, G&auml;stezimmer, K&uuml;che, Wohnzimmer und Vorstandszimmer 
      untergebracht.
    </p>  
    <p class="long-text"> 
       Die zu vermietenden Zimmer werden zu g&uuml;nstigen Konditionen (bis &euro;155, warm) an 
      geeignete Berliner und Brandenburger Studentinnen und Studenten vergeben. Bei der Vermietung 
      wird sehr genau darauf geachtet, dass von einem Geschlecht maximal vier Personen auf dem Haus 
      vertreten sind. Mehr Details zu den einzelnen Zimmern erf&auml;hrt man &uuml;ber die 
      entsprechenden Verkn&uuml;pfungen in der rechten Spalte dieser Seite.
    </p>
    <p class="long-text">
      Den Mietern stehen auch noch die zwei Terrassen und der gro&szlig;e Garten zur Verf&uuml;gung.
      Im Keller sind noch weitere Duschen und Toiletten - nach Geschlechtern getrennt -, die 
      Waschk&uuml;che sowie reichlich Stauraum zu finden.
    </p>

    <h2 id="Bootshaus">Bootshaus in Gr&uuml;nau</h2>
    <div>
      <p>
        <img class="img-polaroid" src="assets/images/boothaus.jpg" alt="Bootshaus des ATV zu Berlin" title="Das Bootshaus des ATV in Gr&uuml;nau"/>
      </p>
      <p class="img-caption">Bootshaus des <abbr title="Akademischer Turnverein">ATV</abbr> zu Berlin, Regatta<abbr title="stra&szlig;e">str.</abbr> 245, 12527 Berlin-Gr&uuml;nau (historische Aufnahme)</p>
    </div>
    <p class="long-text">
      Seit dem Wintersemester 1999/2000 sind wir wieder die stolzen Eigent&uuml;mer unseres
      Bootshauses in der Regattastra&szlig;e 245 in Berlin-Gr&uuml;nau. Mittels eines 
      Uuml;berlassungsvertrages nutzen der
      <a href="http://www.schuelerrudern.de" target="_blank" title="Zur Internetpr&auml;senz des Sch&uuml;lerruderverbandes">Sch&uuml;ler-Ruderverband</a> Berlin, 
      der 
      <a href="http://www.bsbtk.de" target="_blank" title="Zur Internetpr&auml;senz des Bezirkssportbundes">Bezirkssportbund</a> 
      Treptow-K&ouml;penick und der 
      <a href="http://www.tco-ev.de" target="_blank" title="Zur Internetpr&auml;senz des Tauchclubs">Tauchclub Oberspree</a> 
      das Haus die meiste Zeit.
    </p>
    <p class="long-text">
      Wir bieten unseren Mitgliedern vorwiegend wochenends die M&ouml;glichkeiten zu 
      <a href="/sport" target="_top" title="Information zum Rudern beim ATV">rudern</a> und
      nach Bedarf Haus und Gel&auml;nde zu nutzen.
    </p>
}
