@(message: String)(implicit flash: Flash, ctx: util.Ctx)

@main(Messages("welcome")) {
    <div class="text-center">
      <a href="events" title="Unser Programm im Wintersemester 2014/2015"><img src="assets/images/cover.jpg" class="img-polaroid"/></a>
      <p>Semesterprogramm Winter 2014/2015</p>
    </div>

    <p class="lead">
      Wir sind <em>viel mehr</em> als einfach nur ein vielseitiger Sportverein - wir sind eine 
      Studentenverbindung, ein Lebensbund, der schon &uuml;ber 150 Jahre alt aber trotzdem frisch wie der
      junge Morgen ist! Bei uns kommen K&ouml;rper, Geist und Seele gleicherma&szlig;en zum Zuge. Unser Motto 
      ist "<em>Mens sana in corpore sano</em>" - ein gesunder Geist in einem gesunden K&ouml;rper.
    </p>

    <p>
      Der generationen&uuml;bergreifende geistige Austausch ist uns genauso wichtig wie der
      gemeinsame Sport - und das macht zusammen unsere starke Gemeinschaft aus, die seit 1860
      besteht und auch in Zukunft zusammenh&auml;lt! Wir schaffen gemeinsames!
    </p>

    <h3 id="Waswirmachen">Was wir machen ...</h3>
    <p>
      Wie unser Name <em>Akademischer Turnverein</em> schon sagt, sind wir ein Verein, dessen 
      Mitglieder Studierende, Akademikerinnen und Akademiker sind, die gemeinsam Sport treiben. Wir 
      wollen unsere Mitglieder geistig, k&ouml;rperlich und gesellschaftlich ert&uuml;chtigen, 
      durch
    </p>
    <ul>
      <li>ein <em>A</em>kademisches Programm, das jeden ein bisschen weiterbildet und &uuml;ber den 
      Tellerrand blicken l&auml;sst,</li>
      <li>ein spor<em>T</em>liches Programm, das jedem hilft fit zu bleiben, getreu unserem Motto 
      <em>Mens sana in corpore sano</em>, und</li>
      <li>gemeinschaftliche <em>V</em>eranstaltungen, um unsere pers&ouml;nlichen Bindungen zu 
      erhalten und auszubauen.</li>
    </ul>

    <h3 id="Waswirnichtmachen">Was wir nicht machen ...</h3>
    <p>
      Wir fechten keine Mensuren und tragen keine Farben.
    </p>
    <p>
       Wir bekennen uns zu keiner politischen, religi&ouml;sen oder weltanschaulichen Gruppe.
    </p>

    <h3 id="Wosindwir">Wo sind wir?</h3>
	  <div>
      <a href="./std.php?id=11" title="Information zum Vereinshaus in Zehlendorf"><img src="assets/images/atv_haus_mini.jpg" class="mini" alt="Vereinshaus in Zehlendorf"/></a>
      <address>
        <p class="name n org" href="http://www.atvzuberlin.de"><strong><abbr title="Akademischer Turnverein">ATV</abbr> zu Berlin <abbr title="eingetragener Verein">e.V.</abbr></strong></p>
        <p class="str street-address">Onkel-Tom-Stra&szlig;e 52</p>
        <p class="place"><span class="postal-code">14169</span> <span class="locality">Berlin (Zehlendorf)</span></p>
      </address>
    </div>

    <h3 id="Wiesindwirzuerreichen">Wie sind wir zu erreichen?</h3>
    <ul>
      <li>Telefon: 030 8134952</li>
      <li>E-Mail: <a href="./std.php?id=4#Allgemein" title="Zur E-Mail-&Uuml;bersichtsseite">info</a>!</li>
    </ul>

    <p class="std-text">
      Was hier auf dieser Seite steht, ist nur ein kleiner Vorgeschmack von dem, was bei uns los
      ist. Es macht einfach viel Spa&szlig; und nebenbei ist die aufgewandte Zeit noch gut investiert.
    </p>

    <p class="std-text">
      Also nicht vor der Glotze hocken oder tagelang im Netz surfen, sondern mithelfen, was auf
      die Beine zu stellen. Deshalb die Telephonnummer merken und anrufen oder eine E-Mail an
      eine unserer <a href="./std.php?id=4#Allgemein" title="Zur E-Mail-&Uuml;bersichtsseite">Kontaktadressen</a> schicken! Wir freuen
      uns &uuml;ber jede(n), der/die sich f&uuml;r uns interessiert und stehen gerne f&uuml;r
      Fragen zur Verf&uuml;gung ...
    </p>
}
