@(title: String)(content: Html)(implicit flash: Flash, ctx: util.Ctx)
@import helper._
@import util.Ctx

@implicitField = @{ FieldConstructor(FieldCons.f) }

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        @* <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> *@
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
    </head>
    <body>
    
      <!-- The page header -->
      @header(ctx.menu)
        
      <header class="jumbotron subhead" id="overview">
        <div class="container">
        <br/>
          <h1>ATV zu Berlin</h1>
          <p class="lead">Mens sana in corpore sano</p>
        </div>
      </header>
      
      <div class="container-fluid">
        <!-- The navigation menu -->
        <div class="row-fluid">
          @if(ctx.menu.isDefined) {
            <div class="span1 bs-docs-sidebar">
              <ul class="nav nav-list bs-docs-sidenav">
                <li><a href="/"><i class="icon-home"></i> @Messages("home")</a></li>
              @ctx.menu.get.map { m =>
          	    <li><a href="@m.url">@m.name</a></li>
              }
              </ul>
            </div>
          }
      
          <!-- The page content -->
          <div class="span5 offset1">
            @if(flash.get("success").isDefined){
              <div class="alert alert-success">
              @flash.get("success")
              </div>
            }
            @if(flash.get("error").isDefined){
              <div class="alert alert-error">
              @flash.get("error")
              </div>
            }
            @content
          </div>
          <div class="span4 offset1">
          </div>
        </div>
      </div>
      <footer>
        <div class="container">
          @footer()
        </div>
      </footer>
    </body>
</html>
