@(newsForm: Form[News])(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper._
@import play.api.Logger

@implicitField = @{ FieldConstructor(FieldCons.f) }

@main(Messages("news")) {
    @Logger.debug("Rendering news form")
	<h1>@Messages("news.add")</h1>
	@form(routes.NewsCtrl.submit) {
	  @inputHidden(newsForm("id")) 
	  <div class="form-group">
	  @inputText(newsForm("title"), '_label -> Messages("news.title"), 'class -> "form-control", 'placeholder -> Messages("news.title.placeholder"))
	  </div>
	  <div class="form-group">
	  @textarea(newsForm("lead"), '_label -> Messages("news.lead"), 'class -> "form-control", 'style -> "height: 70px", 'placeholder -> Messages("news.lead.placeholder"))
	  </div>
	  <div class="form-group">
	  @richTextEditor(newsForm("content"), '_label -> Messages("news.content"),
	   'placeholder -> Messages("wysihtml5.placeholder"), 'class -> "form-control", 'style -> "height: 200px")
	   </div>
      @createModifyFormPart(newsForm)
      @submitResetCancel()
	}
	
	@Logger.debug("Done rendering news form")
}