@**
* Display a news item.
*
* @author andreas
* @version 0.0.7, 2015-03-04
*@
@(n: News)(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper.deleteConfirmation

@main(Messages("news")) {
  <div class="pull-right">
  @if(ctx.user.isDefined && ctx.user.get.username == n.creator) {
    @if(ctx.userHasPrivilege(ctx.user.get, "edit.news")) { 
        <a href="/news/edit/@n.id.get" title="@Messages("news.edit")"><i class="glyphicon glyphicon-pencil"></i></a>
        }
        @if(ctx.userHasPrivilege(ctx.user.get, "delete.news")) {
        <a href="#" data-toggle="modal" title="@Messages("news.delete")" data-target="#delConfirm" onclick="delId = @n.id.get"><i class="glyphicon glyphicon-trash"></i></a>
        }
  }
	<a href="/newslist" title="@Messages("news.list")"><i class="glyphicon glyphicon-th-list"></i></a>
  @if(ctx.user.isDefined && ctx.userHasPrivilege(ctx.user.get, "create.news")) {
  	<a href="/news/new" title="@Messages("news.add")"><i class="glyphicon glyphicon-plus"></i></a> ...
  }
  </div>
  <h2>@n.title</h2>
  <p class="text-right">
    <small>@Messages("news.by") <em>@n.creator</em> @{ Messages("news.when") + " " + new java.text.SimpleDateFormat("dd.MM.yyyy, HH:mm").format(new java.util.Date(n.created))+ "h"}<br/>
    @{if(n.modified.isDefined) Messages("news.modified") + " " + n.lastModification(new java.text.SimpleDateFormat("dd.MM.yyyy, HH:mm"))+ "h"}</small>
  </p>
  <p class="lead">@n.lead</p>
  <p>@Html(n.content.getOrElse(""))</p>
  
@deleteConfirmation("news")
}