@**
* List the addresses of a person p.
*
* @author andreas
* @version 0.0.5, 2013-04-14
*@
@(orgForm: Form[Organization])(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper._
@import play.api.Logger

@implicitField = @{ FieldConstructor(FieldCons.f) }

@main(Messages("organization")) {
    @Logger.debug("Rendering organization form")
	<h1>@Messages("organization")</h1>
	@form(routes.OrganizationCtrl.submit) {
	  @inputHidden(orgForm("id")) 
	  @inputText(orgForm("name"), '_label -> Messages("organization.name"))
	  @select(orgForm("gender"), 
              Seq(("m" -> Messages("organization.gender.m")), ("f" -> Messages("organization.gender.f")), "g" -> Messages("organization.gender.g")),
              '_label -> Messages("organization.selGender")
        )
	  @inputDate(orgForm("founded"), '_label -> Messages("organization.founded"))
	  @inputDate(orgForm("refounded"), '_label -> Messages("organization.refounded"))
	  @inputText(orgForm("motto"), '_label -> Messages("organization.motto"))
	  @inputText(orgForm("colors"), '_label -> Messages("organization.colors"))
	  @inputText(orgForm("city"), '_label -> Messages("organization.city"))
      @createModifyFormPart(orgForm)
      @submitResetCancel()
	}
	
	@Logger.debug("Done rendering organization form")
}