@(p: Person, pai: Option[PersonAdditionalInfo], ts: List[AcademicTitle], adrs: List[Address], ps: List[(Phone, util.UsageType, util.Privacy)], es: List[(Email, PersonHasEmail)], hps: List[(Homepage, PersonHasHomepage)])(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper._

@main(Messages("person.details")) {
      @if(ctx.user.isDefined) {
      	@if(!ts.isEmpty) {
      	<div class="pull-right">
	      <a href="/p/@p.id.get/at/edit" title="@Messages("academicTitle.edit")"><i class="icon-pencil"></i></a>
          <a data-toggle="modal" title="@Messages("academicTitle.delete")" data-target="#delConfirm" onclick="delId = @p.id.get"><i class="icon-trash"></i></a>
          <a href="/p/@p.id.get/at/edit" title="@Messages("academicTitle.add")"><i class="icon-plus-sign"></i></a>
        </div>
   		<p>
          @Html(ts.map(x => "<abbr title=\"" + (if (p.gender == 'm') x.maleForm.get else x.femaleForm.get) + "\">" + x.abbr + "</abbr>").mkString(", "))
        </p>
        } else {
        <div class="pull-right">
          <a href="/p/@p.id.get/at/edit" title="@Messages("academicTitle.add")"><i class="icon-plus-sign"></i></a> ...
        </div>
        }
	  }
	
	<h2 data-toggle="tooltip" data-placement="top" title="edit">@(p.name)</h2>
	@if(p.nickname.isDefined) {
	<h3><em>@p.nickname.getOrElse("")</em></h3>
	}
	<div class="pull-right">
      @if(ctx.user.isDefined) {
	    <a href="/person/edit/@p.id.get" title="@Messages("person.edit")"><i class="icon-pencil"></i></a>
        <a data-toggle="modal" title="@Messages("person.delete")" data-target="#delConfirm" onclick="delId = @p.id.get"><i class="icon-trash"></i></a>
	  }
	  <a href="/persons" title="@Messages("person.list")"><i class="icon-th-list"></i></a>
	  @lastModificationIcon(p)
	</div>
	<p>
	  <i class="icon-star"></i> @if(p.birth.isDefined) { @{new java.text.SimpleDateFormat("dd.MM.yyyy").format(p.birth.get)}} else { @Messages("unknown") }
	  <br/>
	  @if(p.death.isDefined) { &dagger; @{new java.text.SimpleDateFormat("dd.MM.yyyy").format(p.death.get)}<br/>}
	  @Messages("person.gender"): @Messages("person.gender." + p.gender)
	</p>
	
	@if(ctx.user.isDefined && !pai.isDefined) {
	<div class="pull-right">
          <a href="/pai/@p.id.get/new" title="@Messages("personAI.add")"><i class="icon-plus-sign"></i></a> ...
    </div>
    } else {
    <div class="pull-right">
          <a href="/pai/@p.id.get/edit" title="@Messages("personAI.edit")"><i class="icon-pencil"></i></a> ...
    </div>
	@personAdditionalInfo(pai.get)
	}
	@adrTable(p, adrs)
	@phoneTable(p, ps)
	@emailTable(p, es)
	@homepageTable(p, hps)
	
@deleteConfirmation("person")
}