@**
* Edit additional person information.
*
* @author andreas
* @version 0.0.1, 2013-04-28
*@
@(paiForm: Form[PersonAdditionalInfo])(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper._
@import play.api.Logger
@import util.Mr
@import util.Bbr

@implicitField = @{ FieldConstructor(FieldCons.f) }

@main("personAI") {
    @Logger.debug("Rendering person additional form ")
	<h2>@Messages("personAI")</h2>
	@form(routes.PersonAdditionalInfoCtrl.submit) { 
		@inputHidden(paiForm("id")) 
		@select(paiForm("formOfAddress"), 
              Mr.getFormsOfAddresses().map{foa => foa.id.toString -> foa.name},
              '_label -> Messages("personAI.formOfAddress")
        )
		@select(paiForm("letterSalutation"),
		      Bbr.getLetterSalutations().map{ls => ls.id.toString -> ls.name}, 
		      '_label -> Messages("personAI.letterSalutation"))
		@inputDate(paiForm("enlistment"), '_label -> (Messages("personAI.enlistment") + " (" + Messages("personAI.enlistment.date.format") + ")"))
		@inputDate(paiForm("withdrawal"), '_label -> (Messages("personAI.withdrawal") + " (" + Messages("personAI.withdrawal.date.format") + ")"))
		@inputText(paiForm("profession"), '_label -> Messages("personAI.profession"))
		@inputText(paiForm("employer"), '_label -> Messages("personAI.employer"))
	    @createModifyFormPart(paiForm)
		@submitResetCancel()
	}
	@Logger.debug("Done rendering person additional form")
}