@(phoneForm: Form[Phone], countries: Seq[Country], pid: Long)(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper._
@import play.api.Logger
@import util.Landline

@implicitField = @{ FieldConstructor(FieldCons.f) }

@main(Messages("phone")) {
    @Logger.debug("Rendering phone org form")
	<h2>@Messages("phone")</h2>
	@form(routes.PhoneCtrl.submitOrgPhone(pid)) {
	  @inputHidden(phoneForm("id")) 
	  @inputText(phoneForm("areacode"), '_label -> Messages("phone.areacode"))
	  @inputText(phoneForm("extension"), '_label -> Messages("phone.extension"))
	  @select(phoneForm("country"), 
              countries.map{c => c.id.get.toString -> c.phone.get.toString},
              '_label -> Messages("phone.selCountry")
      )
      @select(phoneForm("kind"), 
              Landline.getPhoneTypes().map{u => u.id.toString -> Messages("phone.kind." + u.name.toLowerCase)},
              '_label -> Messages("phone.kind")
      )
      @createModifyFormPart(phoneForm)
      @submitResetCancel()
	}
	@Logger.debug("Done rendering phone org form")
}