@**
* Display the {@link Phone} numbers of a {@link Person}.
*
* @param p The {@link Person} the {@link Phone} numbers relate to.
* @param phones A list of {@link Phone} numbers to display.
* @author andreas
* @version 0.0.6, 2015-01-03
*@
@(p: Person, phones: List[(Phone, util.UsageType, util.Privacy)])(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper._
@import helper.twitterBootstrap._
@import play.api.Logger

@main(Messages("phone")) {
	@Logger.debug("Rendering phone numbers of person " + p.fullname)
	<h2>@Messages("phones.of") @p.fullname</h2>
	@phoneTable(p, phones)
	@linkToPersonDetails(p)
	@Logger.debug("Done rendering phone numbers of person " + p.fullname)
}