@**
* Form to enter or modify the phone number of a {@link Person} identified by <em>pid</em>.
*
* @author andreas
* @version 0.0.5, 2013-04-21
*@
@(phoneForm: Form[(Phone, util.UsageType, util.Privacy)], countries: Seq[Country], pid: Long)(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper._
@import play.api.Logger
@import util.Personal
@import util.Private
@import util.Landline
@import util.UsageType
@import util.Privacy

@implicitField = @{ FieldConstructor(FieldCons.f) }

@main(Messages("phone")) {
    @Logger.debug("Rendering phone form")
	<h2>@Messages("phone")</h2>
	@form(routes.PhoneCtrl.submitPersonPhone(pid)) {
	  @inputHidden(phoneForm("phone.id")) 
	  @inputText(phoneForm("phone.areacode"), '_label -> Messages("phone.areacode"))
	  @inputText(phoneForm("phone.extension"), '_label -> Messages("phone.extension"))
	  @select(phoneForm("phone.country"), 
              countries.map{c => c.id.get.toString -> c.phone.get.toString},
              '_label -> Messages("phone.selCountry")
      )
      @select(phoneForm("phone.kind"), 
              Landline.getPhoneTypes().map{u => u.id.toString -> Messages("phone.kind." + u.name.toLowerCase)},
              '_label -> Messages("phone.kind")
      )
      @select(phoneForm("usage"), 
              Personal.getUsageTypes().map{u => u.id.toString -> Messages("usagetype." + u.name.toLowerCase)},
              '_label -> Messages("phone.selUsageType")
      )
      @select(phoneForm("privacy"), 
              Private.getPrivacyLevels().map{p => p.id.toString -> Messages("privacy." + p.name)},
              '_label -> Messages("phone.selPrivacy")
      )
      @createModifyFormPart(phoneForm, "phone.")
      @submitResetCancel()
	}
	@Logger.debug("Done rendering phone form")
}