@(regForm: Form[(String, String, String, String)])(implicit flash: Flash, lang: Lang, ctx: util.Ctx)
@import helper._
@import util.StandardUser

@main(Messages("registration")) {
  <h1>@Messages("registration")</h1>
  <h2>@Messages("registration.form")</h2>

  @form(routes.UserCtrl.register) {
  	@inputHidden(regForm("link")) 
      <div class="form-group">
      @inputText(regForm("username"),
        '_label -> Messages("login.username"),
        '_showConstraints -> false,
        'class -> "form-control",
        'readonly -> "readonly"
    )
    </div>
    <div class="form-group">
    @inputPassword(regForm("password1"), '_label -> Messages("login.password"), 'class -> "form-control")
    </div>
    <div class="form-group">
    @inputPassword(regForm("password2"), '_label -> Messages("registration.password.repeat"), 'class -> "form-control")
    </div>
    <input type="submit" class="btn btn-primary" value="@Messages("registration.register.button")" />
    <input type="reset" class="btn btn-default" value="@Messages("reset")" />
  }
 
}
