@(sportsDates: Seq[SportsDate])(implicit flash: Flash, ctx: util.Ctx)

@main(Messages("welcome")) {

  <h2>Sporttermine</h2>
  @if(!sportsDates.isEmpty) {
    @sportsDates.groupBy(s => s.sports).map{ elem =>
    <h3>@Sports.load(elem._1).get.title</h3>
      @elem._2.map{ sd =>
      <p class="aktuell-content">@Messages("weekday." + sd.weekday.getOrElse("")).toLowerCase()s, @sd.start </br>
        <div class="vcard">
          <div class="adr">
            <p class="n">@sd.locationName.getOrElse("")</p>
            <p class="str">@sd.locationStreet.getOrElse("")</p>
            <span class="postal-code">@sd.locationZip.getOrElse("")</span> <span class="locality">@sd.locationCity.getOrElse("")</span>
          </div>
        </div>
      </p>
      }
    }
  }

<p class="long-text">Weitere Information gibt es bei:</p>
<ul class="long-text">
  <li>unserem Sportwart der <a href="./std.php?id=4#Sport" title="Zur E-Mail-&Uuml;bersichtsseite">Aktivitas</a>,</li>
  <li>unserem Oberturnwart des <a href="./std.php?id=4#Sport" title="Zur E-Mail-&Uuml;bersichtsseite"><abbr title="Korporationsverbandes">KV</abbr></a> oder</li>
  <li>einer unserer anderen <a href="./std.php?id=3" title="Zur Infoseite">Kontaktstellen</a>.</li>
</ul>
}
