@(sports: Seq[Sports])(implicit flash: Flash, ctx: util.Ctx)

@main(Messages("welcome")) {
  <h2>@Messages("sports")</h2>
  <p class="long-text">
    Als Akademischer <em>Turn</em>verein treiben wir nat&uuml;rlich Sport. Wir bieten f&uuml;r alt 
    und jung ein attraktives und umfangreiches Programm an, bei dem sicherlich auch f&uuml;r Dich 
    das passende dabei ist.
  </p>
  
  @if(!sports.isEmpty) {
    @sports.map { s =>
      <h3>@s.title</h3>
      <p class="long-text">@Html(s.description.getOrElse(""))</p>
    }
  }
  
  @if(sports.size > 1) {
<h3 id="Turniere">Turniere</h3>
  <p class="long-text">
    Innerhalb unseres Dachverbandes (<a href="http://www.atb.net" target="_top" title="Zur Internetpr&auml;senz des Akademischen Turnbundes"><abbr title="Akademischer Turnbund">ATB</abbr></a>)
    gibt es zahlreiche Sportturniere, an denen wir teilnehmen. Besonders wichtig
    sind uns jedes Jahr
  </p>
  <ul class="long-text">
    <li>
      das Volleyballturnier <abbr title="einer sehr verehrlichen">e.s.v.</abbr>
      <a href="http://www.asv-barbara.de" target="_blank" title="Zur Internetpr&auml;senz der ASV Barbara Clausthal"><abbr title="Akademischen Sportverbindung">ASV</abbr> Barbara Clausthal</a>,
    </li>
    <li>
      das Fu&szlig;ballturnier <abbr title="einer sehr verehrlichen">e.s.v.</abbr>
      <a href="http://www.atv-ditmarsia.de" target="_blank" title="Zur Internetpr&auml;senz der ATV Ditmarisa Kiel"><abbr title="Akademischen Turnverbindung">ATV</abbr> Ditmarsia Kiel</a>,
    </li>
    <li>
      die Kegel- und Bowlingmeisterschaften <abbr title="einer sehr verehrlichen">e.s.v.</abbr>
      <a href="http://www.tu-freiberg.de/~asv/" target="_blank" title="Zur Internetpr&auml;senz der ASV Alte Elisabeth zu Freiberg/Sachsen"><abbr title="Akademischen Sportverbindung">ASV</abbr> &quot;Alte Elisabeth&quot; zu Freiberg/Sachsen</a>
      und
    </li>
    <li>
      das Thomasturnier <abbr title="einer sehr verehrlichen">e.s.v.</abbr>
      <a href="http://www.atv-teutonia.de" target="_blank" title="Zur Internetpr&auml;senz der ATV Teutonia Erlangen"><abbr title="Akademischen Turnverbindung">ATV</abbr> Teutonia Erlangen</a>.
    </li>
  </ul>
  <p class="long-text">
    Alle drei Jahre findet das <a href="http://www.atb.net" target="_top" title="Zur Internetpr&auml;senz des Akademischen Turnbundes"><abbr title="Akademischer Turnbund">ATB</abbr></a>-Fest
    statt, das immer ein ganz besonderes Ereignis ist. Das n&auml;chste steigt
    2014 in Bonn.
  </p>
  }
  
  <p class="long-text">
    Weitere Information gibt es bei unseren Sportwarten der
    <a href="./std.php?id=4#Sport" title="Zur E-Mail-&Uuml;bersichtsseite">Aktivitas</a>,
    des <a href="./std.php?id=4#Sport" title="Zur E-Mail-&Uuml;bersichtsseite"><abbr title="Korporationsverbandes">KV</abbr></a>
    oder bei einer unserer anderen <a href="./std.php?id=3" title="Zur Infoseite">
    Kontaktstellen</a>.
  </p>
}
