@(sportsDates: Map[String, List[(String, SportsDate)]])(implicit flash: Flash, ctx: util.Ctx)
@import java.sql.Time
@import java.text.SimpleDateFormat

@formatTime(time: Time) = {
  @{new SimpleDateFormat("HH:mm'h'").format(time)}
}

@main(Messages("welcome")) {


  <h2>@Messages("sports.dates")</h2>
  @if(!sportsDates.isEmpty) {
    @sportsDates.map{ elem =>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>@elem._1</h3>
      </div>
      <div class="panel-body">
        @elem._2.map{ sd =>
        <div>@Messages("weekday." + sd._2.weekday.getOrElse("")).toLowerCase()s, @formatTime(sd._2.start.get)<br/>
          <address>
            <strong>@sd._2.locationName.getOrElse("")</strong><br/>
            @sd._2.locationStreet.getOrElse("")<br/>
            @sd._2.locationZip.getOrElse("") @sd._2.locationCity.getOrElse("")
          </address>
        </div>
      }
      </div>
    </div>
    }
  }

<p class="long-text">Weitere Information gibt es bei:</p>
<ul class="long-text">
  <li>unserem Sportwart der <a href="./std.php?id=4#Sport" title="Zur E-Mail-&Uuml;bersichtsseite">Aktivitas</a>,</li>
  <li>unserem Oberturnwart des <a href="./std.php?id=4#Sport" title="Zur E-Mail-&Uuml;bersichtsseite"><abbr title="Korporationsverbandes">KV</abbr></a> oder</li>
  <li>einer unserer anderen <a href="./std.php?id=3" title="Zur Infoseite">Kontaktstellen</a>.</li>
</ul>
}
